[submodule "stream_setings"]
	path = stream_setings
	url = git@github.com:skykosiner/stream_settings
[submodule "prvite_stuff"]
    path = private_stuff
    url = git@github.com:skykosiner/private_stuff
