* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrains Mono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 13px;
}

.modules-right {
    margin-right: 0.3rem;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

window#waybar {
    background-color: rgba(48, 45, 65, 1);
    border-bottom: 3px solid rgba(110, 108, 126, 1);
    color: #d9e0ee;
}

#workspaces button {
    padding: 0 9px;
    background-color: transparent;
    color: #d9e0ee;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #d9e0ee;
}
